@model EntitiesLayer.Models.NCRLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NCRLog</h4>
    <button id="print" class="btn btn-primary">Print</button>
    <hr />
    <section id="printarea">
    <div class="row" >
        <div class="accordion" id="qualityAccordion">

                <p><strong>Document No: </strong>OPS-00011</p>

                <div class="col-sm-2 fw-bold">
                    @Html.DisplayNameFor(model => model.ID)
                </div>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.ID)
                </div>

            <div class="accordion-Item open">

                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h3 class="Accordion-Header" id="qualityHeading">Quality Assurance</h3>
                </button>

            </div>

                <div id="collapseOne" class="accordion-collapse show" aria-labelledby="headingOne" data-bs-parent="#qualityAccordion">
                
                    <div class="col-sm-2 fw-bold">
                        @Html.DisplayNameFor(model => model.QualityPortion.ProcessApplicable)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.QualityPortion.ProcessApplicable)
                    </div>
                    <div class="col-sm-2 fw-bold">
                        @Html.DisplayNameFor(model => model.QualityPortion.Product.Supplier.SupplierName)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.QualityPortion.Product.Supplier.SupplierName)
                    </div>               
                    <div class="col-sm-2 fw-bold">
                        @Html.DisplayNameFor(model => model.QualityPortion.Product.Summary)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.QualityPortion.Product.Summary)
                    </div>
                    <div class="col-sm-2 fw-bold">
                        @Html.DisplayNameFor(model => model.QualityPortion.DefectDescription)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.QualityPortion.DefectDescription)
                    </div>
                    <div class="col-sm-2 fw-bold">
                        @Html.DisplayNameFor(model => model.QualityPortion.Product.ProductNumber)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.QualityPortion.Product.ProductNumber)
                    </div>
                    <div class="col-sm-2 fw-bold">
                        @Html.DisplayNameFor(model => model.QualityPortion.OrderNumber)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.QualityPortion.OrderNumber)
                    </div>
                    <div class="col-sm-2 fw-bold">
                        @Html.DisplayNameFor(model => model.QualityPortion.Quantity)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.QualityPortion.Quantity)
                    </div>
                    <div class="col-sm-2 fw-bold">
                        @Html.DisplayNameFor(model => model.QualityPortion.QuantityDefective)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.QualityPortion.QuantityDefective)
                    </div>
                    <div class="col-sm-2 fw-bold">
                        @Html.DisplayNameFor(model => model.QualityPortion.RepID)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.QualityPortion.RepID)
                    </div>
                    <div class="col-sm-2 fw-bold">
                        @Html.DisplayNameFor(model => model.QualityPortion.Created)
                    </div>
                    <div class="col-sm-10">
                        @Html.DisplayFor(model => model.QualityPortion.Created)
                    </div>
                    <div class="form-group">
                        <label class="control-label">Item Marked Nonconforming: </label>
                        <input type="checkbox" class="form-check-input" checked disabled="disabled" />
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion" id="engAccordion">

            <div class="accordion-Item">

                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                    <h3 class="Accordion-Header" id="qualityHeading">Engineering</h3>
                </button>

            </div>

            <div id="collapseTwo" class="accordion-collapse show" aria-labelledby="headingOne" data-bs-parent="#engAccordion">


                <div class="col-sm-2 fw-bold">
                    @Html.DisplayNameFor(model => model.EngPortion.EngReview)
                </div>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.EngReview)
                </div>
                <div class="col-sm-2 fw-bold">
                    @Html.DisplayNameFor(model => model.EngPortion.Notif)
                </div>
                <div class ="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.Notif)
                </div>
                <div class="col-sm-2 fw-bold">
                    @Html.DisplayNameFor(model => model.EngPortion.Update)
                </div>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.Update)
                </div>
                <div class="col-sm-2 fw-bold">
                    @Html.DisplayNameFor(model => model.EngPortion.RevNumber)
                </div>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.RevNumber)
                </div>
                <div class="col-sm-2 fw-bold">
                    @Html.DisplayNameFor(model => model.EngPortion.OriginalRevNumber)
                </div>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.OriginalRevNumber)
                </div>
                <div class="col-sm-2 fw-bold">
                    @Html.DisplayNameFor(model => model.EngPortion.RevDate)
                </div>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.RevDate)
                </div>
                <div class="col-sm-2 fw-bold">
                    @Html.DisplayNameFor(model => model.EngPortion.OriginalEngineer)
                </div>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.OriginalEngineer)
                </div>                 
                <div class="col-sm-2 fw-bold">
                    @Html.DisplayNameFor(model => model.EngPortion.RepID)
                </div>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.RepID)
                </div>
                <div class="col-sm-2 fw-bold">
                    @Html.DisplayNameFor(model => model.EngPortion.Date)
                </div>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.Date)
                </div>
            
            </div>
        </div>




        <div class="col-sm-2 fw-bold">
            @Html.DisplayNameFor(model => model.DateCreated)
        </div>
            <div class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </div>
        <div class="col-sm-2 fw-bold">
            @Html.DisplayNameFor(model => model.Status)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </div>
    
    </section>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a onclick="window.close()" style="cursor:pointer" class="btn-link">Back to List</a>
</div>
@section Scripts{
    <script>
    $(function () {
        //Handle Print
        $("#print").on("click", function () {
            window.print();
        });
    })
</script>
}
