@model EntitiesLayer.Models.NCRLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NCRLog</h4>
    <button id="print" class="btn btn-primary">Print</button>
    <hr />
    <section id="printarea">
    <dl class="row" >
        <div class="accordion" id="qualityAccordion">

            <div class="accordion-Item">

                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h3 class="Accordion-Header" id="qualityHeading">Quality Assurance</h3>
                </button>

            </div>

            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#qualityAccordion">
                
                
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QualityPortion.Product.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QualityPortion.Product.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QualityPortion.DefectDescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QualityPortion.DefectDescription)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QualityPortion.Quantity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QualityPortion.Quantity)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QualityPortion.QuantityDefective)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QualityPortion.QuantityDefective)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QualityPortion.RepID)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QualityPortion.RepID)
                </dd>

            </div>
        </div>

        <div class="accordion" id="engAccordion">

            <div class="accordion-Item">

                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                    <h3 class="Accordion-Header" id="qualityHeading">Engineering</h3>
                </button>

            </div>

            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#engAccordion">


                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EngPortion.EngReview)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.EngReview)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EngPortion.Notif)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.Notif)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EngPortion.Update)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.Update)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EngPortion.RevNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.RevNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EngPortion.RevDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.RevDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EngPortion.RepID)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EngPortion.RepID)
                </dd>


            </div>
        </div>




        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    </section>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a onclick="window.close()" style="cursor:pointer" class="btn-link">Back to List</a>
</div>
@section Scripts{
    <script>
    $(function () {
        //Handle Print
        $("#print").on("click", function () {
            window.print();
        });
    })
</script>
}
