@model IEnumerable<EntitiesLayer.Models.NCRLog>

@{
    ViewData["Title"] = "Index";
}

<h1>NCR Logs</h1> <!-- - @ViewData["LastViewed"]</h1>  debug, view the last viewed ncr time on the page -->

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-horizontal">
        <div class="row">
            <div class="form-group col-md-3">
                <label class="control-label">Start Date:</label>
                <input class="form-control" type="date" id="StartDate" name="StartDate"
                       value="@ViewData["StartDate"]" aria-describedby="EndDate" aria-invalid="false">
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">End Date:</label>
                <input class="form-control" type="date" id="EndDate" name="EndDate"
                       value="@ViewData["EndDate"]" aria-describedby="EndDate" aria-invalid="false">
            </div>
            <div class="form-group col-md-4 align-self-end">
                <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                NCR Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualityPortion.Product.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr> 

            <td>
                    @($"{item.ID:D8}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualityPortion.Product.Supplier.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSummary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
