@using Plugins.DataStore.SQLite
@using EntitiesLayer.Models;
@inject NCRContext ncrContext;
@model IEnumerable<EntitiesLayer.Models.NCRLog>
@{
    ViewData["Title"] = "Index";
}

<h1>Reports</h1>
@* id="chartContainer" *@
<div  class="dashboard">
@* 	<div class="row top-dashboard">
 *@		@* Number of NCR's
		Number of Active NCR 
		-Two Row one column
		*@

		@* Graph of NCR's by Suppliers
		Two Row 3 Column
		*@ 
		<div class="ncrStatus">
			<div class="status">
				<span>QREP</span>
			</div >
			<div class="status">
				<span>ENG</span>
			</div>
			<div class="status">
				<span>PROC</span>
			</div>
		</div>
		<div class="numNCR">
			<figure id="ncrCount">@ncrContext.NCRLog.Count()</figure>
			<label for="ncrCount">Non-Compliance Reports</label>
		</div>

		<div class="activeNCR">
			
			<figure id="activeCount">
				@ncrContext.NCRLog.Where(n => n.Status == NCRStatus.Active).Count()
			</figure>
			<label for="activeCount">Active NCRs</label>
		</div>


		<div class="overTime">
			<label>Graph of NCRs over time</label>
		</div>
		<figure id="ncrBySupplier" class="bySuppliers">

		</figure>
		<div class="partsNCR">
			<label>Graph of parts with the most NCRs</label>
		</div>

		<div id="FiveMostRecentNCRs">
			<label for="tblFiveMostRecentNCRs">Five most recent non-compliance reports</label>
			<table id="tblFiveMostRecentNCRs" class="table">
				<thead>
					<tr>
						<th>
							NCR Number
						</th>
						<th>
							@Html.DisplayNameFor(model => model.QualityPortion.Product.Supplier)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.DateCreated)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Status)
						</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>

							<td>
								@($"{item.ID:D8}")
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.QualityPortion.Product.Supplier.SupplierName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DateSummary)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Status)
							</td>
							<td>
								<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
								<a asp-action="Details" asp-route-id="@item.ID">Details</a> |
								<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>

		</div>

@* 	</div>
 *@
</div>



@section Scripts
{
	<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
	<script type="text/javascript">
		window.onload = function () {
			 fetch('/Report/NCRBySupplier')
					.then(response => response.json()) 
					.then(data => {
						   var chart = new CanvasJS.Chart("ncrBySupplier", {
							theme: "light2",
					   exportEnabled: true,
							animationEnabled: true,
							   title: {
								text: "NCR Logs by Supplier"
							},
								data: [
									   {
										   type: "pie",
								dataPoints: data 
							}
						]
					});

					chart.render();
				})
				.catch(error => console.error('Error fetching data:', error)); 
		};
	</script>
}